<div class="sidebar left sidebar-size-3 sidebar-offset-0 sidebar-visible-desktop sidebar-visible-mobile sidebar-skin-dark" id="sidebar-menu" data-type="collapse">
    <div class="clear"><br /><br /><br /></div>
    <div class="sidebar-block">
      <div class="profile">
        <a href="#">
          <img src="../../../../../assets/images/people/110/guy-6.jpg" alt="people" class="img-circle width-80" />
        </a>
        <h4 class="text-display-1 margin-none">JM Olesco</h4>
      </div>
    </div>

    <ul class="sidebar-menu">
      <li class="active"><a href="app-instructor-dashboard.html"><i class="fa fa-home"></i><span>Dashboard</span></a></li>
      <li><a href="app-instructor-messages.html"><i class="fa fa-mortar-board"></i><span>Course Management</span></a></li>  
      <li class="hasSubmenu">
        <a href="#maintenance" data-toggle="collapse" class="ripple ripple-light-fade collapsed" aria-expanded="true">
        <span class="ink animate" style="height: 249px; width: 249px; top: -103.5px; left: 6.5px;"></span><i class="fa fa-tasks"></i><span>Maintenance</span></a>
        <ul id="maintenance" class="collapse in text-center " aria-expanded="true">
          <li><a routerLink="/user/category"><i class="fa fa-bars" aria-hidden="true"></i><span>Category&nbsp;&nbsp;</span></a></li>
        </ul>
      </li>
      <li><a href="app-instructor-courses.html"><i class="fa fa-users"></i><span>User Management</span></a></li>
      <li><a href="#"><i class="fa fa-sign-out"></i><span>Logout</span></a></li>
    </ul>
</div>