
<div class="navbar navbar-default navbar-fixed-top navbar-size-large navbar-size-xlarge paper-shadow" data-z="0" data-animated role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <div class="navbar-brand navbar-brand-logo">
            <a>
                Learning Management
            </a>
        </div>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="main-nav">
        <ul class="nav navbar-nav navbar-nav-margin-left">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dashboard</a>          
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Courses</a>          
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Profile <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="website-student-courses.html"><i class="fa fa-mortar-board"></i> Account</a></li>
                <li><a href="website-student-profile.html"><i class="fa fa-user"></i> Profile</a></li>
            </ul>
          </li>
        </ul>
        <div class="navbar-right">
          <ul class="nav navbar-nav navbar-nav-bordered navbar-nav-margin-right">
            <!-- user -->
            <li class="dropdown user active">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="images/people/110/guy-6.jpg" alt="" class="img-circle" /> Welcome Back, JM<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="website-student-courses.html"><i class="fa fa-mortar-board"></i> Account</a></li>
                <li><a href="website-student-profile.html"><i class="fa fa-user"></i> Profile</a></li>
                <li><a href="login.html"><i class="fa fa-sign-out"></i> Logout</a></li>
              </ul>
            </li>
            <!-- // END user -->
          </ul>
          <a href="login.html" class="navbar-btn btn btn-primary">&nbsp;<i class="fa fa-sign-out"></i> &nbsp;Log Out&nbsp;&nbsp;</a>
        </div>
      </div>
      <!-- /.navbar-collapse -->
  
    </div>
  </div>
 