<ol class="breadcrumb">
    <li><a routerLink="/">Dashboard</a></li>
    <li><a routerLink="/admin/user">User Management</a></li>
    <li class="active">User List</li>
  </ol>
  <div class="row">
    <div class="col-xs-12 col-lg-12">
      <div class="panel panel-default paper-shadow">
        <div class="panel-heading">
          <div class="media v-middle">
            <div class="media-left">
              <div class="bg-light-blue-300 text-white">
                <div class="panel-body">
                  <i class="fa fa-bars fa-fw fa-2x"></i>
                </div>
              </div>
            </div>
            <div class="media-body">
              <h4 class="text-headline">
                List of Users
              </h4>
            </div>
            <div class="media-right media-padding">
              <button routerLink="new" type="button" class="btn btn-primary paper-shadow relative" data-z="0.5" data-hover-z="1" data-animated=""
                title="Add New Record">
                <i class="fa fa-plus-circle" aria-hidden="true"></i> &nbsp;Add New Record
              </button>
       
            </div>
          </div>
        </div>
        <div class="panel-body">
          <table class="table table-hover">
  
            <thead>
              <tr>
                <th class="text-center">
                  <div class="input-group input-group form-control">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Filter By Status</label>
                    </div>
                    <select class="select input-group-sm form-control" id="inputGroupSelect01" [(ngModel)]="status"
                      (change)="submitSearch()">
                      <option value="0">All</option>
                      <option value="1">Active</option>
                      <option value="2">InActive</option>
                    </select>
                  </div>
                </th>
                <th class="text-center">
                    <div class="input-group input-group form-control">
                      <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Filter By Role</label>
                      </div>
                      <select class="select input-group-sm form-control" id="inputGroupSelect01" [(ngModel)]="role"
                        (change)="submitSearch()">
                        <option value="0">All</option>
                        <option value="2">Admin</option>
                        <option value="1">User</option>
                      </select>
                    </div>
                  </th>
                <th class="text-center" colspan="2">
                  <div class="input-group input-group form-control">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Order By</label>
                    </div>
                    <select class="select input-group-sm form-control" id="inputGroupSelect01" [(ngModel)]="orderKey"
                      (change)="submitSearch()">
                      <option value="0">Choose</option>
                      <option value="1">ID</option>
                      <option value="2">Full Name</option>
                      <option value="3">Email Address</option>
                      <option value="4">Username</option>
                      
                    </select>
                  </div>
                </th>
                <th class="text-center" >
                  <div class="input-group input-group form-control">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Order Type</label>
                    </div>
                    <select class="select input-group-sm form-control" id="inputGroupSelect01" [(ngModel)]="orderType"
                      (change)="submitSearch()">
                      <option value="0">Choose</option>
                      <option value="1">ASC</option>
                      <option value="2">DESC</option>
                    </select>
                  </div>
                </th>
                <th class="text-center" colspan="3">
                  <div class="input-group input-group form-control">
                    <div class="input-group-prepend">
                      <label class="input-group-text" for="inputGroupSelect01">Search Any Keyword</label>
                    </div>
                    <input type="text" class="input-group-sm form-control" (keyup)="submitSearch()" type="text"
                      placeholder="Search Users" [(ngModel)]="keyword">
                  </div>
                </th>
              </tr>
            </thead>
            <thead>
              <tr>
                <th scope="col" class="text-center">#</th>
                <th scope="col" class="text-center">Photo</th>
                <th scope="col" class="text-center">Full Name</th>
                <th scope="col" class="text-center">Group</th>
                <th scope="col" class="text-center">Email Address</th>
                <th scope="col" class="text-center">Username</th>
                <th scope="col" class="text-center">Status</th>
                <th scope="col" class="text-center">Action</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList; index as i">
                <th scope="row" class="text-center">{{ user.nuser_id }}</th>
                <td class="text-center">
                  <img src="{{user.nuser_picture}}" alt = "{{user.nfull_name}}" 
                    data-toggle="tooltip"
                    data-delay='{"show":"500", "hide":"100"}'
                    data-placement="right" 
                    title="{{user.nfull_name}}"
                  class="img-circle" width="40" />
                </td>
                <td class="text-center">
                  {{ user.nfull_name }}
                </td>
                <td class="text-center">
                  {{ user.ndefault_pageview_name }}
                </td>
                <td class="text-center">
                  {{ user.nuser_email }}
                </td>
                <td class="text-center">
                  {{ user.nuser_name }}
                </td>                
                <td class="text-center">
                  <span
                    [ngClass]="['badge',(user.status===1)===true?'btn-success':'btn-danger']">
                    <span [ngClass]="[(user.status===1)===true?'invisible':'hidden']">.</span>
                    {{ user.statusName }}
                    <span [ngClass]="[(user.status===1)===true?'invisible':'hidden']">.</span>
                  </span>
  
  
                </td>
                <td class="text-center">
                  <button type="button" routerLink="{{user.nuser_id}}" class="btn btn-primary" data-toggle="tooltip" data-placement="right"
                    title="View record # {{user.nuser_id}}">
                    <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  </button>&nbsp;&nbsp;
                  <button type="button" (click)="submitUpdateStatus(user.nuser_id, 0)" data-toggle="tooltip"
                    data-delay='{"show":"500", "hide":"100"}'
                    data-placement="right" title="Deactivate record # {{user.nuser_id}}"
                    [ngClass]="['btn btn-danger',(user.status===1)===true?'':'hide']"><i class="fa fa-ban"
                      aria-hidden="true"></i>
                  </button>
                  <button type="button" (click)="submitUpdateStatus(user.nuser_id, 1)" data-toggle="tooltip"
                    data-placement="right" title="Activate record # {{user.nuser_id}}"
                    [ngClass]="['btn btn-success',(user.status===1)===true?'hide':'']"><i class="fa fa-plus-circle"
                      aria-hidden="true"></i>
                  </button>
                </td>
  
              </tr>
  
              <tr>
                <td class="text-center" colspan="8">
                  <app-pagination *ngIf="totalPageList > 0" [paginationTotal]="totalPageList"
                    [paginationTotaPage]="totalPageNumber"></app-pagination>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>